h1 {
    font-family:"cursive";
    margin: auto;
    padding: 10px;
    color: rgb(204, 140, 21);
    text-align: center;
    font-size: 50px;
}
nav ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
}
.wrapper{
    display:grid;
    grid-template-columns: repeat(3,9fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    padding:10%;
}
.borde{
    padding: 7%;
    margin: 5%;
    background-color: rgb(145, 114, 121);
    text-align: center;
   }
.uno{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(94, 155, 139);
}
.dos{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: rgb(134, 106, 106);
}
.tres{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(98, 87, 148);
}
.cuaro{
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: rgb(75, 29, 44);
}
.cinco{
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: rgb(0, 0, 0);
}
.seis{
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: rgb(0, 0, 0);
}

(!  <div class="borde">
<p><a href="#camisetas">Camisetas</a></P>
</div>      
<div class="borde">
 <P><a href="#pantalones">Pantalones</a></P> 
</div>
<div class="borde">
<P><a href="#vestidos">Vestidos</a></P>
</div>   
</div>)